:host {
  /* Evitar barra táctil inferior en iOS */
  padding-bottom: env(safe-area-inset-bottom);
  height: var(--bottom-nav-height);
  color: var(--mat-sys-secondary);
}

.mat-icon {
  height: 2rem;
  width: 2rem;
}

a {
  color: var(--mat-sys-secondary);
  &.active {
    color: var(--mat-sys-primary);
  }
}
