:host {
  /* Evitar barra táctil inferior en iOS */
  padding-bottom: env(safe-area-inset-bottom);
  height: var(--bottom-nav-height);
  color: var(--mat-sys-secondary);

  @container (min-width: 768px) {
    flex-direction: column;
    justify-content: start;
    border-top: 0;
    border-right: 1px;
    padding-bottom: 0;
    height: auto;

    width: var(--bottom-nav-height);
    padding-left: env(safe-area-inset-left);
  }
}

.mat-icon {
  height: 2rem;
  width: 2rem;
}

a {
  color: var(--mat-sys-secondary);
  &.active {
    color: var(--mat-sys-primary);
  }
}
