<h2 mat-dialog-title>Editar contraseña</h2>
<mat-dialog-content>
  <mat-form-field class="max-w-full pt-2 w-xs" appearance="outline">
    <mat-label>Contraseña</mat-label>
    <button
      matPrefix
      matIconButton
      tabindex="-1"
      aria-label="Mostrar contraseña"
      (click)="showPass.update(s => !s)"
    >
      <mat-icon [svgIcon]="showPass() ? 'eye-hidden' : 'eye-visible'"></mat-icon>
    </button>
    <input
      type="password"
      matInput
      [type]="showPass() ? 'text' : 'password'"
      [formField]="passwordForm.password"
      placeholder="Editar contraseña"
    />
    @if (passwordForm.password().value()) {
      <button
        matSuffix
        matIconButton
        aria-label="Limpiar contraseña"
        (click)="passwordForm.password().value.set('')"
      >
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    }
    @let passErrors = passwordForm.password().errors();
    @for (error of passErrors; track $index) {
      <mat-error>{{ error.message }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="max-w-full pt-2 w-xs" appearance="outline">
    <mat-label>Repetir contraseña</mat-label>
    <button
      matPrefix
      matIconButton
      tabindex="-1"
      aria-label="Mostrar contraseña"
      (click)="showPass2.update(s => !s)"
    >
      <mat-icon [svgIcon]="showPass2() ? 'eye-hidden' : 'eye-visible'"></mat-icon>
    </button>
    <input
      [type]="showPass2() ? 'text' : 'password'"
      matInput
      [formField]="passwordForm.repeatPassword"
      placeholder="Repetir contraseña"
    />
    @if (passwordForm.repeatPassword().value()) {
      <button
        matSuffix
        matIconButton
        aria-label="Limpiar contraseña"
        (click)="passwordForm.repeatPassword().value.set('')"
      >
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    }

    @let pass2Errors = passwordForm.repeatPassword().errors();
    @for (error of pass2Errors; track $index) {
      <mat-error>{{ error.message }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Cancelar</button>
  <button matButton [disabled]="passwordForm().invalid()" (click)="savePassword()">Cambiar</button>
</mat-dialog-actions>
