<div class="min-h-screen flex flex-col">
  <top-bar [title]="'Mis tareas'"></top-bar>
  <div class="page-body grow relative flex flex-col min-h-full">
    <main class="p-4 grow">
      <router-outlet></router-outlet>
    </main>
    <div class="tabs-wrapper sticky bottom-0 z-10 transition-[translate]">
      <adaptative-tabs
        class="h-fit"
        [tabs]="[
          { text: 'Todas', url: 'list', icon: 'list-alt' },
          { text: 'Hoy', url: 'today', icon: 'today' },
          { text: 'Semana', url: 'week', icon: 'date-range' },
          { text: 'Mes', url: 'month', icon: 'calendar-month' },
        ]"
      >
        <button matFab aria-label="Añadir tarea" (click)="openNewTaskDialog()">
          <mat-icon svgIcon="add"></mat-icon>
        </button>
      </adaptative-tabs>
    </div>
  </div>
</div>
