<div class="page-header sticky top-0 left-0 transition-[translate] bg-(--mat-sys-primary)">
  <mat-toolbar>
    <button matIconButton="tonal">
      <mat-icon>menu</mat-icon>
    </button>
    Home
  </mat-toolbar>
</div>
<main class="p-2">
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
  <p>Jajaja</p>
</main>
<div class="tabs-wrapper sticky bottom-0 z-10 overflow-hidden">
  <adaptative-tabs
    class="transition-[translate] block w-screen"
    [tabs]="[
      { text: 'tab 1', url: '', icon: 'home' },
      { text: 'tab 1', url: '', icon: 'home' },
      { text: 'tab 2', url: '', icon: 'home' },
      { text: 'tab 3', url: '', icon: 'home' },
    ]"
  ></adaptative-tabs>
</div>
