<div class="min-h-screen flex flex-col">
  <div class="page-header sticky top-0 left-0 z-20 transition-[translate] bg-(--mat-sys-primary)">
    <mat-toolbar>
      <button matIconButton="tonal" (click)="openMenu()" class="xl:hidden!">
        <mat-icon aria-hidden="false" aria-label="Side Menu Open" svgIcon="menu"></mat-icon>
      </button>
      Novagenda
    </mat-toolbar>
  </div>
  <div class="page-body grow relative @container flex flex-col min-h-full">
    <main class="p-4 grow @3xl:ms-(--bottom-nav-height)">
      <router-outlet></router-outlet>
    </main>
    <div
      class="tabs-wrapper sticky bottom-0 z-10 @3xl:top-0 @3xl:left-0 @3xl:absolute @3xl:h-full transition-[translate]"
    >
      <adaptative-tabs
        class="@3xl:top-(--mat-toolbar-standard-height) @3xl:sticky h-fit"
        [tabs]="[
          { text: 'Lista', url: 'list', icon: 'list-alt' },
          { text: 'Hoy', url: 'today', icon: 'today' },
          { text: 'Semana', url: 'week', icon: 'date-range' },
          { text: 'Mes', url: 'month', icon: 'calendar-month' },
        ]"
      >
        <button matFab aria-label="Añadir tarea">
          <mat-icon svgIcon="add"></mat-icon>
        </button>
      </adaptative-tabs>
    </div>
  </div>
</div>
