<mat-card appearance="outlined">
  <header class="p-4">
    <button matIconButton (click)="prevWeek()" aria-label="Semana anterior">
      <mat-icon svgIcon="chevron-left"></mat-icon>
    </button>
    <mat-card-title
      >{{ weekStart() | dateIntl: 'es-ES' : 'medium' | firstUppercase }} -
      {{ weekEnd() | dateIntl: 'es-ES' : 'medium' | firstUppercase }}</mat-card-title
    >
    <button matIconButton (click)="nextWeek()" aria-label="Semana siguiente">
      <mat-icon svgIcon="chevron-right"></mat-icon>
    </button>
  </header>
</mat-card>

<mat-accordion multi class="mt-4 block">
  @for (dayTasks of weekTasks; track dayTasks[0]) {
    <mat-expansion-panel [expanded]="false" #panel>
      <mat-expansion-panel-header
        [matBadge]="dayTasks[1]().length"
        matBadgeOverlap="false"
        class="mt-2"
        [matBadgeHidden]="panel.expanded || !dayTasks[1]().length"
      >
        <mat-panel-title>
          <span>
            {{ dayTasks[0]() | dateIntl: 'es-ES' : 'full' | firstUppercase }}
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-[repeat(auto-fill,minmax(350px,1fr))] gap-2">
        @for (task of dayTasks[1](); track task.id) {
          <task-item [task]="task" (deleted)="tasklistResource.reload()" (completed)="tasklistResource.reload()"></task-item>
        }
      </div>
      @if (!dayTasks[1]().length) {
        <p class="text-(--mat-sys-secondary) text-lg text-center">No hay tareas para esta fecha</p>
      }
    </mat-expansion-panel>
  }
</mat-accordion>
