@use '@angular/material' as mat;

mat-expansion-panel-header{
  @include mat.badge-overrides(
    (
      container-offset: -1.5rem -3rem,
      background-color: var(--mat-sys-tertiary),

    )
  );
}

mat-card {
  mat-card-title {
    text-align: center;
    width: 100%;
    font: var(--mat-sys-title-medium);
    letter-spacing: var(--mat-sys-title-medium-tracking);
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
