<div class="text-center mb-8 mt-8 header">
  <mat-icon aria-label="Novagenda Logo" svgIcon="select-check-box" class="!h-8 !w-8"></mat-icon>
  <h1 class="text-3xl font-bold text-(--mat-sys-primary) mb-2">Novagenda</h1>
  <p class="text-(--mat-sys-secondary)">Organiza tu vida, una tarea a la vez</p>
</div>

<mat-card class="w-110 max-w-[90%] p-4 md:p-6 mb-8" appearance="raised">
  <mat-card-header>
    <mat-card-title>Regístrate</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-8">
    <form [formRoot]="registerForm" class="flex flex-col gap-4">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          type="text"
          matInput
          [formField]="registerForm.name"
          placeholder="Marta Martínez"
        />
        @let nameErrors = registerForm.name().errors();
        @for (error of nameErrors; track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formField]="registerForm.email"
          placeholder="email@email.com"
        />
        @let emailErrors = registerForm.email().errors();
        @for (error of emailErrors; track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      @let passErrors = registerForm.password().errors();
      <mat-form-field class="w-full" appearance="outline" [class.mb-4]="passErrors.find(e => e.kind === 'pattern')">
        <mat-label>Contraseña</mat-label>
        <button matPrefix matIconButton tabindex="-1" aria-label="Show" (click)="showPass.update(s => !s)">
          <mat-icon [svgIcon]="showPass() ? 'eye-hidden' : 'eye-visible'"></mat-icon>
        </button>
        <input
          [type]="showPass() ? 'text' : 'password'"
          matInput
          [formField]="registerForm.password"
          placeholder="*******"
        />
        @if (registerForm.password().value()) {
          <button
            matSuffix
            matIconButton
            aria-label="Clear"
            (click)="registerForm.password().value.set('')"
          >
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        }

        @for (error of passErrors; track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Repite Contraseña</mat-label>
        <button matPrefix matIconButton tabindex="-1" aria-label="Show" (click)="showPass2.update(s => !s)">
          <mat-icon [svgIcon]="showPass2() ? 'eye-hidden' : 'eye-visible'"></mat-icon>
        </button>
        <input
          [type]="showPass2() ? 'text' : 'password'"
          matInput
          [formField]="registerForm.repeatPassword"
          placeholder="*******"
        />
        @if (registerForm.repeatPassword().value()) {
          <button
            matSuffix
            matIconButton
            aria-label="Clear"
            (click)="registerForm.repeatPassword().value.set('')"
          >
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        }

        @let pass2Errors = registerForm.repeatPassword().errors();
        @for (error of pass2Errors; track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
      <button type="submit" matButton="filled" class="w-full" [disabled]="registerForm().invalid()">Crear cuenta</button>
    </form>
    <div class="relative my-6">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="px-4 bg-white text-(--mat-sys-secondary)">O regístrate con</span>
      </div>
    </div>

    <div class="row col-2 offset-sm-2">
      <div googleLogin class="w-full" (login)="loggedGoogle($event)"></div>
    </div>

    <p class="mt-6 text-lg text-(--mat-sys-secondary)">
      ¿Ya tienes cuenta?
      <a [routerLink]="['/auth', 'login']" class="inline-block">Inicia sesión aquí</a>
    </p>
  </mat-card-content>
</mat-card>
