@use '@angular/material' as mat;

:host {
  @include mat.card-overrides(
    (
      elevated-container-elevation: var(--mat-sys-level2),
      title-text-weight: var(--font-weight-bold),
      title-text-size: 1.5rem,
    )
  );
  @include mat.checkbox-overrides(
    (
      label-text-color: var(--color-gray-600),
    )
  );
  @include mat.button-overrides(
    (
      filled-container-color: var(--color-purple-700),
    )
  );
}

.header {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-primary),
    )
  );
}
