/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use 'material-theme';

a {
  color: var(--mat-sys-primary);
}

.mdc-snackbar.error {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: var(--color-red-800),
    )
  );
}

.mdc-snackbar.success {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: var(--color-green-800),
    )
  );
}

.tabs-wrapper {
  background-color: color-mix(in srgb, var(--mat-sys-surface-container-lowest) 80%, transparent);
  padding-bottom: var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0px));

  padding-left: var(--safe-area-inset-left, env(safe-area-inset-left, 0px));
  padding-right: var(--safe-area-inset-right, env(safe-area-inset-right, 0px));
}

mat-expansion-panel .mat-expansion-panel-body {
  padding: 0 1rem 1rem 1rem;
}

mat-card.task-card {
  --mat-card-outlined-outline-width: 1px 1px 1px 4px;

  &.task-priority-low {
    --mat-card-outlined-outline-color: var(--mat-sys-outline-variant) var(--mat-sys-outline-variant)
      var(--mat-sys-outline-variant) light-dark(var(--color-green-500), var(--color-green-700));
  }

  &.task-priority-medium {
    --mat-card-outlined-outline-color: var(--mat-sys-outline-variant) var(--mat-sys-outline-variant)
      var(--mat-sys-outline-variant) light-dark(var(--color-orange-500), var(--color-orange-700));
  }

  &.task-priority-high {
    --mat-card-outlined-outline-color: var(--mat-sys-outline-variant) var(--mat-sys-outline-variant)
      var(--mat-sys-outline-variant) light-dark(var(--color-red-600), var(--color-red-800));
  }
}

mat-sidenav {
  padding-top: var(--safe-area-inset-top, env(safe-area-inset-top, 0px));
  padding-bottom: var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0px));
  padding-left: var(--safe-area-inset-left, env(safe-area-inset-left, 0px));
}

main {
  padding-bottom: calc(1rem + var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0px)));
  padding-left: calc(1rem + var(--safe-area-inset-left, env(safe-area-inset-left, 0px)));
  padding-right: calc(1rem + var(--safe-area-inset-right, env(safe-area-inset-right, 0px)));
  padding-top: 1rem;
}

top-bar {
  background: color-mix(in srgb, var(--mat-toolbar-container-background-color, var(--mat-sys-surface)) 80%, transparent);
  padding-left: var(--safe-area-inset-left, env(safe-area-inset-left, 0px));
  padding-right: var(--safe-area-inset-right, env(safe-area-inset-right, 0px));
  padding-top: var(--safe-area-inset-top, env(safe-area-inset-top, 0px));
}

.page-body {
  container-name: page-body;
  container-type: inline-size;
}

@media (min-height: 500px) {
  @container page-body (min-width: 768px) {
    main {
      margin-inline-start: var(--bottom-nav-height);
    }

    .tabs-wrapper {
      bottom: auto;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      position: absolute;
      background-color: var(--mat-sys-surface-container-lowest);
      // padding-left: var(--safe-area-inset-left, env(safe-area-inset-left, 0px));
      // padding-bottom: 0;

      adaptative-tabs {
        flex-direction: column;
        justify-content: flex-start;
        border-top: 0;
        border-right: 1px;
        padding-bottom: 0;
        height: auto;
        width: var(--bottom-nav-height);
        top: var(--mat-toolbar-standard-height);
        position: sticky;
        overflow-x: hidden;
        align-items: flex-start;

        &:hover {
          width: auto;

          .icon-text {
            display: inline-block;
          }
        }

        a {
          flex-direction: row;
          margin-inline: 1.25rem;
          justify-content: flex-start;
          gap: 0.5rem;
          padding-block: calc(var(--spacing) * 2);
        }

        div {
          align-items: flex-start;
          margin-inline: 0.5rem;
        }

        .icon-text {
          display: none;
        }
      }
    }
  }
}

@supports (container-type: scroll-state) {
  @media (max-width: 768px) and (min-height: 500px), (max-height: 500px) {
    /*Pantallas pequeñas*/
    @container page-container scroll-state(scrolled: bottom) {
      .page-header:not(:focus-within) {
        translate: 0 calc(-1 * var(--mat-toolbar-standard-height)); /* Tamaño barra móvil */
      }

      .tabs-wrapper:not(:focus-within) {
        translate: 0 100%;
      }

      .page-body {
        overflow: hidden;
      }
    }

    @container page-container scroll-state(not (scrollable: bottom)) {
      .tabs-wrapper:not(:focus-within) {
        translate: 0 0;
      }
    }

    @container page-container scroll-state(not (scrollable: top)) {
      .page-header:not(:focus-within) {
        translate: 0 0;
      }
    }
  }
}
