<mat-card appearance="outlined" class="p-4">
  <h3 class="text-lg flex gap-2 items-center">
    <mat-icon svgIcon="group"></mat-icon>
    Colaboradores
  </h3>
  <mat-list>
    @for (colab of collaborators(); track colab.id) {
      <mat-list-item [routerLink]="['/profile', colab.user.id]">
        <img matListItemAvatar [src]="colab.user.photo" alt="Foto del usuario" />
        <div matListItemTitle>
          {{ colab.user.name }}
        </div>
        <div matListItemLine>{{ getRoleName(colab.role) }}</div>
        @if (colab.role !== 'OWNER' && mine()) {
          <div matListItemMeta>
            <button
              matIconButton
              aria-label="Borrar colaborador"
              class="mt-2"
              (click)="deleteColab(colab.id)"
            >
              <mat-icon svgIcon="delete"></mat-icon>
            </button>
          </div>
        }
      </mat-list-item>
    }
  </mat-list>

  @if (mine()) {
    <button matButton="outlined" class="w-full" (click)="openNewCategoryDialog()">
      Añadir Colaborador
    </button>
  }
</mat-card>
